# Build output
*.exe
*.o
*.obj
*.dll
*.pdb

# IDE
.vscode/
.vs/
*.sln
*.slnx
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Debug/Release folders
x64/
Debug/
Release/

# Python cache
__pycache__/
*.pyc
*.pyo

# OS junk
*.jpg
*.jpeg
*.png
*.mp4
*.avif
*.ico
.DS_Store
Thumbs.db

# Temp/project build txt
*.txt
